<!-- Je sais que le code de mon Header va se répéter sur toute les pages, on le factorise donc avec la syntaxe EJS -->

<%- include ('partials/header') %>

    <p class="paragraph__explanation"> Voici toutes les cartes que vous avez mis en favori :</p>

    <!-- Désormais je vais faire en sorte de boucler sur tout les personnages de la licence, pour l'instant on ne veut que l'image et le nom -->

    <main class="main__characters">

        <!-- On va utiliser la syntaxe EJS pour dynamiser le merdier -->

        <% for (const character of characters) { %>

            <a href="/character/<%= character.id %>" class="character__link">
                
                <div class="img__contenair">

                    <img src="/img/<%= character.visual_name %>" class="main__characters__visual">

                    <p class="img__contenair__name"><%= character.name %></p>

                     <!-- <a class="img__add__card" title="Ajouter au deck" href="/favorite/add/<%= character.id %>"></a> -->

                     <a class="img__remove__card" title="Supprimer du deck" href="/favorite/remove/<%= character.id %>"><p class="img__remove__card__explanation">-</p></a>

                     <p class="img__contenair__number"><%= character.id %></p>
                     
                </div>
            
            </a>

        <% } %>


    </main>

<!-- Je sais aussi que le footer va se répéter ! Alors on fait de même et on fout tout dans des partials appropriés pour faciliter la maintenance -->

<%- include ('partials/footer') %>